/*<---Global--->*/

/*<-x-Global-x->*/

/*<---Navigation Bar--->*/

.pages a{
  text-decoration: none;
  padding: 2em 2.5em;
  color: black;
  font-size: large;
}

.logo a{
  color: black;
  font-size: large;
  text-decoration: none;
}

a:hover  {
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: 1em;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}

.logo {
  display: flex;
  position: absolute;
  padding: 2.24em 2.5em;
}

.pages{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*<-x-Navigation Bar-x->*/

/*<---Hamburger--->*/

/*<-x-Hamburger-x->*/

/*<---Footer--->*/
footer{
  background-color: #DAF7A6;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */
}


.footerContainer {
  text-align: center;
  display: inline-block;
  padding: 0 6%;
}






/*<-x-Footer-x->*/
